<h2>Doctor: <%= @doctor.name %></h2>
<h2>Department: <%= @doctor.department %></h2>

<% @doctor.appointments.each do |appointment| %>
    Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %></br>
    <%= link_to appointment.appointment_datetime.to_formatted_s(:long).split(" ").insert(3, "at").join(" "), appointment_path %>
    </br></br>

    
<% end %>
